<div class='row'>
    <h2>Welcome to</h2>
    <h1 class='specialFont'>Pong 2108 - Physics Engine</h1>
</div>
<div class='row'>
    <p><span class='specialFont'>Pong 2108</span> physics engine</p>
    <hr>
    <p>This program must be running in order for the game to operate. 
        This app does all the calculations on the ball travel.
     </p>
    <hr>
    <p></p>
    <hr>
</div>
<hr>
<hr>